.select .main {
    border: 1px solid #000;
    display: inline-block;
    min-height: 20px;
    max-width: 50px;
}

.items {

    position: absolute;
    padding: 5px;
    border: 1px solid #1c0101;
}

.item.select{
    background-color: #1ea7fd;
    color: #e7fdd8;
}